<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaPeluquería.Properties.Settings.BIBLIOConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BIBLIO.MDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>